
.container-product{
  padding:20px 50px ;
  overflow: scroll;
}
.product-add{
  display: flex ;
  justify-content: end;
}
.product-statistics{
  margin:20px 0px;
}
.product-title{
  margin-top:-10px !important ;
  font-weight: bold !important;
  color:red !important ;
  font-size: 25px !important;
}