.productDetail-container{
  padding: 20px 50px !important ;
}
.productDetail-img-container{
  width : 100%
}
.productDetail-img{
  width : 100% ;
  height : 500px
}
.productDetail-img-column{
  width : 100% ;
  height : 115px
}
.productDetail-horizontal-content{
  margin : 10px 0px ;
}
.productDetail-color-red{
  color : red ;
}
.productDetail-span{
  border : 1px solid black ;
  margin-right : 5px ;
  padding: 2px 8px ;
  cursor: pointer;
}
.productDetail_sizeAndColor{
  border : 2px solid red !important ;
}

.comment-action{
  cursor: pointer;
  padding:2px ;
}
.comment-input{
  border : 1px solid #d9d9d9 ;
  background: inherit;
  color : 'rgba(0, 0, 0, 0.45)'
}